/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header ul {
	gap: 15px
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
    height: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-reverse {
	display: flex;
	flex-direction: column-reverse;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.portfolio-categories {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin: 40px 0px;
}

/*button*/

button.design {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	width: 130px;
	text-align: center;
	border-radius: 60px;
	color: #1D6154;
}


button.active {
	background-color: #1D6154;
	border-radius: 60px;
	width: 130px;
	color: #FFFEF8;
}

.category-button {
	background: white;
	border-radius: 60px;
	height: 35px;
	color: #1D6154;
	font-weight: bold;
	font-size: 14px;
	border-color: #1D6154;
	border-width: 1px;
}

/* Login page properties */

.nav__login a {
	text-decoration: none;
	color: black;
}

#btn-log-login-page {
	font-weight: bold;
}

#login__link {
	text-decoration: none;
	color: black;
}

#login-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 700px;
}

#login-main h2 {
	margin: 50px 0 50px 0;
}

#login-form {
	width: 350px;
	display: flex;
	flex-direction: column;
}

#login-form p {
	margin-bottom: 5px;
}

#login-form input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 5px 5px 5px rgb(235, 235, 235);
	margin-bottom: 20px;
}

#btn__connection {
	background-color: #1D6154;
	color: white;
	padding: 10px 15px 10px 15px;
	border: none;
	border-radius: 20px;
	width: 170px;
	margin: 10px 0 20px 0;
}


.button__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__background {
	background-color: #FFFEF8;
}

.error {
	box-shadow: 5px 5px 5px rgb(235, 235, 235);
	border: block;
	border-color: red;
}

/* Mode edition */

.mode__edition {
	background-color: black;
	color: white;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin-bottom: 20px;
}

#button__modif {
	background-color: white;
	border: none;
	margin-top: 5px;
	gap: 10px;
}

#button__modif svg {
	width: 15px;
	margin-right: 5px;
	margin-left: 10px;
}

#edit {
	width: 10px;
}

.hidden {
	visibility: hidden;
}

.portfolio__edit {
	gap: 10px;
	height: 20px;
	margin: 30px 0px 30px 0px;
}

.portfolio__edit-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 90px 0px;
}

/* Mode edition modale*/

#modal__contain a {
	text-decoration: none;
	color: black;
	margin-left: 10px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: #FFFEF8;
	color: black;
	cursor: auto;
}

.modal-wrapper h3 {
	margin: 40px 0px;
	text-align: center;
	font-size: 26px;
}

/* Mode edition modale image*/

.gallery-modal {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
}

.gallery-modal img {
	width: 100%;
}

.fa-trash-alt:before,
.fa-trash-can:before {
	position: static;
	top: 25px;
	left: 80px;
	cursor: pointer;
	font-size: 14px;
	background-color: black;
	color: white;
	padding: 4px;
}

.button__addphoto {
	padding: 10px 20px;
	border: 1px solid #1D6154;
	background-color: #1D6154;
	margin-top: 40px;
	color: white;
	cursor: pointer;
	border-radius: 25px;
	width: 200px;
}

.portfolio__modified {
	border: none;
	background: white;
	margin-left: 15px;
}

.js-modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.js-modal h2 {
	margin: 20px 0px;
	color: black;
	font-size: 25px;
}

.js-modal.active {
	display: block;
}

.js-modal-content {
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
}

.js-modal-photos {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
}

.js-modal-photos-img {
	max-width: 100%;
	width: 90px;
	height: 100px;
	display: block;
	object-fit: cover;
}

#js-modal-close {
	font-size: medium;
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background-color: white;
	cursor: pointer;
}

.button-trash {
	position: relative;
	bottom: 90px;
	left: 50px;
	border: none;
	background: transparent;
	height: 20px;
}

.button-close {
	background-color: #1D6154;
}

.js-modaladd-button {
	padding: 5px 10px;
	background-color: #1D6154;
	color: white;
	border-radius: 10px;
	width: 200px;
	border: none;
}

.block {
	display: block;
}

.jsmodal__div-button{
	display: flex;
	justify-content: center;
}

/* Style de la deuxième modale */

.js-modal-add {
	display: none;
	background-color: white;
	position: relative;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	top: 50%;
	left: 50%;
	height: 40%;
	width: 20%;
	transform: translate(-50%, -50%);
	padding: 20px;
}

.js-modal-add .fa-arrow-left {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	cursor: pointer;
}

.js-modal-add .fa-xmark {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.js-modal-add .fa-image {
	font-size: 3em;
}

.js-modal-add button {
	padding: 10px 15px;
	margin: 20px;
	background-color: #1D6154;
	color: white;
	border-radius: 15px;
	border: none;
	width: 200px;
}

.js-modal-add form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80%;
	width: 80%;
	gap: 10px;
	;
}

.container__file {
	background-color: gray;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.container__file label {
	background-color: black;
	color: white;
	border-radius: 15px;
	padding: 5px 10px;
}

.container__file img {
	display: none;
	max-width: 100%;
	height: 100%;
}

#file {
	display: none;
}